
<div class="d-flex flex-column align-items-center">
<% if user_signed_in? %>
<%= render 'form', post: @post %>
<% end %>
</div>
      
<div class="d-flex flex-column align-items-center">
<%= render 'body' %>
</div>